// app global css in SCSS form
// app global css in SCSS form

.painel-detail {
  margin: 2% 4%;
}

.q-card {
  /* suas modificações de estilo para os cards */
  border-radius: 0;
}

/* Estilos para os botões */
.q-btn {
  /* suas modificações de estilo para os botões */
  border-radius: 0;
}

.q-list {
  /* suas modificações de estilo para as listas */
  border-radius: 0;
}

.q-input {
  /* suas modificações de estilo para os inputs */
  border-radius: 0;
}

.q-table {
  /* suas modificações de estilo para as tabelas */
  border-radius: 0;
}
